@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: lighter;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
  font-family: 'SEGA LOGO FONT';
  color: white;
  font-weight: lighter;
  font-size: 39px;
  margin: 20px 0px;
}


.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;

}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.header {
  height: 140px;
}